body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(to bottom, #f2a6b0, #ffffff);*/
}
/*container for hele home siden håper jeg */

.home-content h2 {
    color: #f2a6b0;
    font-family: 'Quicksand', sans-serif;

}

.home-content {
    background: linear-gradient(to bottom, #f2a6b0, #ffffff);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
}

.home-image {
    display:flex;
    justify-content: center; 
    align-items: center;     
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
}

.home-image img {
    max-width: 100%;         
    height: auto;
    display:block;
    
}


.home-information{
    width:80%;
    max-width: 600px;
    margin-top: 0;
    color: #f2a6b0;
    font-size: 17px;
    text-align: center;
    margin-bottom: 60px;
}

.info-item {
    margin-bottom: 20px;
}

.info-item .date {
    font-size:14px;
    color: #333;
    font-weight: bold;
}

.info-item .text {
    margin: 5px 0;
    line-height: 1.5;
}

  
.angel-details {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: white; /* Light pink background */
    border: 2px solid #f2a6b0; /* Pink border */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}  

.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.angel-header {
    font-size: 2.2em;
    font-weight: bold;
    color: #f2a6b0;
    margin: 0; 
}

.header-seperator {
    height: 2px;
    background-color: #f2a6b0;
    margin: 10px 0;
}

.edit-button, .back-button {
    background-color: white;
    border: 2px solid #f2a6b0;
    border-radius: 20px;
    padding: 8px 16px;
    color: #f2a6b0;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3 ease;
    margin-top: 10px;
    margin-left: 10px;
}

.edit-button:hover, .back-button:hover {
    background-color: #f2a6b0;
    border: 2px solid #f2a6b0;
    color: white;
}


.details-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* height: 100%; */
}

/* prøvde få angel-info til å ligge i bunn av details-text, slik at den infoen stopper i bunn av bildet og ikke ligger under */

/* .details-text {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

/* .angel-info {
    margin-top: auto;
} */


.details-row {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.series-link  {
    color: #333;
    text-decoration: none;
}

.series-link:hover {
    color: #f2a6b0;
    text-decoration: underline;
}
  
.image-container {
    flex: 1;
    text-align: center;
}

.angel-image {
    max-width: 100%;
    border-radius: 15px;
    border: 3px solid #f2a6b0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.login {
    height: 100vh;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    .card {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 10px;
        min-height: 400px;
        max-height: 600px;
        overflow: hidden;
  
        .left {
            flex: 1;
            background: linear-gradient(rgba(164, 216, 225, 0.2), rgba(135, 206, 235, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCSpfz6LQRmve4M3JFAwGi8Vn1l0MZCOtaEg&s");
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;
            justify-content: center;
  
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            span {
                font-size: 0.8rem;
            }
            button {
                background-color: white;
                border: 2px solid #f2a6b0;
                border-radius: 50px;
                padding: 10px 20px;
                color: #f2a6b0;
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
            }
  
            button:hover {
                background-color: #f2a6b0;
                color: white;
            }
        }
  
        .right {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
  
            h1 {
                color: #f2a6b0;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
  
                input {
                    background-color: white;
                    padding: 10px 15px;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    color: #f2a6b0;
                    font-weight: bold;
                    width: 100%;
                    box-sizing: border-box;
                }
  
                input:focus {
                    border-color: #f2a6b0;
                    outline: none;
                }
  
                button {
                    background-color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    width: 100%;
                }
  
                button {
                    background-color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .login .card {
        flex-direction: column;
        max-width: 90%;
        height: auto;
    }
  
    .login .card .left,
    .login .card .right {
        padding: 15px;
        gap: 10px;
    }
  
    .login .card .left h1,
    .login .card .right h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
  
    .login .card .left span {
        font-size: 0.7rem;
    }
  
    .login .card form input,
    .login .card form button {
        padding: 8px 15px;
    }
  }

  .register {
    height: 100vh;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  
    .card {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 10px;
        min-height: 400px;
        max-height: 600px;
        overflow: hidden;
  
        .left {
            flex: 1;
            background: linear-gradient(rgba(164, 216, 225, 0.2), rgba(135, 206, 235, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCSpfz6LQRmve4M3JFAwGi8Vn1l0MZCOtaEg&s");
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;
            justify-content: center;
  
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            span {
                font-size: 0.8rem;
            }
            button {
                background-color: white;
                border: 2px solid #f2a6b0;
                border-radius: 50px;
                padding: 10px 20px;
                color: #f2a6b0;
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
            }
  
            button:hover {
                background-color: #f2a6b0;
                color: white;
            }
        }
  
        .right {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
  
            h1 {
                color: #f2a6b0;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
  
                input {
                    background-color: white;
                    padding: 10px 15px;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    color: #f2a6b0;
                    font-weight: bold;
                    width: 100%;
                    box-sizing: border-box;
                }
  
                input:focus {
                    border-color: #f2a6b0;
                    outline: none;
                }
  
                button {
                    background-color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    width: 100%;
                }
  
                button:hover {
                    background-color: white;
                    color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                }
            }
        }
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .register .card {
        flex-direction: column;
        max-width: 90%;
        height: auto;
    }
  
    .register .card .left,
    .register .card .right {
        padding: 15px;
        gap: 10px;
    }
  
    .register .card .left h1,
    .register .card .right h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
  
    .register .card .left span {
        font-size: 0.7rem;
    }
  
    .register .card form input,
    .register .card form button {
        padding: 8px 15px;
    }
  }
  

  /* General styling for Navbar */
  .navbar {
    min-height: 70px;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Search bar styling */
.navbar_search {
    max-width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 10px;
    padding-left: 20px;
}

.navbar_search input {
    width: 100%;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #f2a6b0;
    color: #333;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

/* Styling when the search bar is focused */
.navbar_search input:focus {
    outline: none;
    background-color: white;
    border-color: white;
    color: #333;
}

/* Center logo styling */
.navbar_logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%;
    display: flex;
    justify-content: center;
}

.navbar_logo {
    width: 100%;
    height: auto;
    max-height: 80px;
}

/* Right user logo styling */
.navbar_user-logo {
    height: 40px;
    width: auto;
    flex-shrink: 0;
}
/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
        padding: 10px;
        position: relative;
    }

    .navbar_search {
        max-width: 10%;
        margin-left: 20px;
        order: 1; /* Places search bar at the top */
        position: absolute;
    }

    .navbar_logo-container {
        max-width: 30%;
        order: 2; 
        justify-content: center;
        flex-grow:1;


    }

    .navbar_user-logo {
        height: 30px;
        order: 3; /* Places user logo at the bottom */
        margin-top: 10px;
    }
}


.nav-menu {
    background-color: white; 
    color: #333;
    width: 250px; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: -250px; 
    transition: left 0.3s;
    z-index: 1000;
    overflow: scroll;
    
    &::-webkit-scrollbar {
        display: none; 
    }
}

.nav-menu.active {
    left: 0; 
}

.sidebar-logo {
    width: 80%; 
    height: auto; 
    margin: 20px auto; /* Center logo horizontally */
    display: block;
}

.nav-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.nav-menu-items li {
    position: relative;
    padding: 15px 35px; /* More space from left and between items */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}

.nav-menu-items li::before {
    content: '';
    position: absolute;
    left: 10px; /* Adjust distance from the left */
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%; 
    background-color: pink;
}

/* Remove bullet point for 'Categories' when dropdown is open */
.nav-menu-items li.categories.active::before {
    content: none;
}

/* Remove underline for links and change color on hover */
.nav-menu-items li a {
    text-decoration: none;
    color: inherit;
}

.nav-menu-items li a:hover {
    text-decoration: underline;
    color: pink;
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    list-style: none;
    padding-left: 10px; 
    margin:0;
}

.dropdown-menu.active {
    display: block;
}

.menu-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: #f2a6b0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
    font-size: 24px;
    transition: left 0.3s ease;
}

.menu-toggle.active {
    left: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}



.footer {
    background-color: #F2A6B0; 
    color: white; 
    text-align: center;
    padding: 5px;
    position: relative;
    bottom: 0;
    left: 0;
    visibility: visible;
  }

.series-page {
    padding: 20px;
    background-color: white;
}

.series-page h1 {
    text-align: center;
    font-weight: bold;
    color: #f2a6b0;
    margin-bottom: 20px;
    border-bottom: 2px solid #f2a6b0;
    padding-bottom: 10px;
}

.angel-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 60px; 
    margin-top: 40px;
}

.angel-card {
    border: 2px solid #f2a6b0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    position: relative; 
    transition: transform 0.3s ease; 
    height: 280px; 
    background-color: white; 
}

.angel-card:hover {
    transform: scale(1.05); 
}

.angel-card img {
    width: 80%; 
    height: 80%; 
    object-fit: contain; 
    border-radius: 8px; 
    margin-top: 10px;
}

.angel-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #f2a6b0; 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent; 
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.angel-card:hover h3 {
    background-color: #f2a6b0;
    color: white; 
}

@media (max-width: 768px) {
    .angel-cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .angel-cards {
        grid-template-columns: 1fr; 
    }
}


.about-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.about-text {
    flex: 1;
    color: #333;
}

.about-text h2 {
    color: #F2A6B0; 
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.about-divider {
    border: 0;
    height: 1px;
    background-color: #F2A6B0;
    width: 50%;
    margin-bottom: 20px;
    margin-left: 5px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.pink-bold strong {
    color: #F2A6B0; 
    font-weight: bold;
}

.about-section:nth-child(2) .about-text {
    padding-left: 75px; 
    max-width: 55%;
}

.about-section:nth-child(2) {
    margin-bottom: 50px;
}

.about-section:nth-child(1) {
    margin-bottom: 5px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    border-radius: 8px;
}

.angel-master-list h2 {
    color: #F2A6B0;
    margin-left: 20px;
}

.masterlist-divider {
    border: 0;
    height: 1px;
    background-color: #F2A6B0;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 5px;

}

.alphabet-links {
    padding: 20px 40px;
    background-color: transparent;
    color: #F2A6B0;
    font-size: 24px;
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    border: 1px solid #e0e0e0; 
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
}

.alphabet-link {
    padding: 8px 16px;
    background-color: transparent;
    border: 2px solid #F2A6B0;
    color: #F2A6B0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.alphabet-link:hover {
    background-color: #F2A6B0;
    color: white;
  }
  
.alphabet-link:focus {
    outline: none; 
}

.angel-group ul {
    list-style-type: "🌷";
}

.angel-link {
    color: black;
    text-decoration: none;
}

.angel-link:hover {
    color: #F2A6B0;
}

.angel-list .angel-group h2 {
    font-size: 50px; 
    font-weight: bold;
    text-transform: uppercase; 
    color: #F2A6B0; 
    letter-spacing: 5px; 
    margin-bottom: 20px; 
    padding-left: 10px; 
    text-align: left;
    background-color: #fff; 
    padding-left: 15px; 
}

.angel-group {
    margin-bottom: 20px; 
    background-color: #fff; 
    padding: 20px; 
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
}


.angel-group:not(:last-child) {
    border-bottom: 1px solid #e0e0e0;
}


.card{
    max-width: 900px;
    margin: 10px auto;
    padding: 100px;
    box-shadow: box-shadow 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}
.angel-master-list h2 {
    text-align: center;
    margin-right: 70px;
}

.angel-list h2 {
    color:#F2A6B0 ;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;

}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


textarea {
    flex: 1;
    margin-right: 10px;
}

textarea, input, select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.header {
    background-color: #f2a6b0; 
    color: white; 
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    border-bottom: 2px solid #e08d9c; 
}

.header h1 {
    font-size: 2.5em; 
    margin: 0;
    font-weight: bold;
}

.header .subtitle {
    font-size: 1.2em; 
    margin-top: 5px;
    font-weight: 300;
}
