body {
    margin: 0;
    padding: 0;
}
.login {
    height: 100vh;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    .card {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 10px;
        min-height: 400px;
        max-height: 600px;
        overflow: hidden;
  
        .left {
            flex: 1;
            background: linear-gradient(rgba(164, 216, 225, 0.2), rgba(135, 206, 235, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCSpfz6LQRmve4M3JFAwGi8Vn1l0MZCOtaEg&s");
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;
            justify-content: center;
  
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            span {
                font-size: 0.8rem;
            }
            button {
                background-color: white;
                border: 2px solid #f2a6b0;
                border-radius: 50px;
                padding: 10px 20px;
                color: #f2a6b0;
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
            }
  
            button:hover {
                background-color: #f2a6b0;
                color: white;
            }
        }
  
        .right {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
  
            h1 {
                color: #f2a6b0;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
  
                input {
                    background-color: white;
                    padding: 10px 15px;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    color: #f2a6b0;
                    font-weight: bold;
                    width: 100%;
                    box-sizing: border-box;
                }
  
                input:focus {
                    border-color: #f2a6b0;
                    outline: none;
                }
  
                button {
                    background-color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    width: 100%;
                }
  
                button:hover {
                    background-color: white;
                    color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                }
            }
        }
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .login .card {
        flex-direction: column;
        max-width: 90%;
        height: auto;
    }
  
    .login .card .left,
    .login .card .right {
        padding: 15px;
        gap: 10px;
    }
  
    .login .card .left h1,
    .login .card .right h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
  
    .login .card .left span {
        font-size: 0.7rem;
    }
  
    .login .card form input,
    .login .card form button {
        padding: 8px 15px;
    }
  }

  .register {
    height: 100vh;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  
    .card {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border-radius: 10px;
        min-height: 400px;
        max-height: 600px;
        overflow: hidden;
  
        .left {
            flex: 1;
            background: linear-gradient(rgba(164, 216, 225, 0.2), rgba(135, 206, 235, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCSpfz6LQRmve4M3JFAwGi8Vn1l0MZCOtaEg&s");
            background-size: cover;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: white;
            justify-content: center;
  
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            span {
                font-size: 0.8rem;
            }
            button {
                background-color: white;
                border: 2px solid #f2a6b0;
                border-radius: 50px;
                padding: 10px 20px;
                color: #f2a6b0;
                font-weight: bold;
                cursor: pointer;
                width: 100%;
                box-sizing: border-box;
            }
  
            button:hover {
                background-color: #f2a6b0;
                color: white;
            }
        }
  
        .right {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            justify-content: center;
  
            h1 {
                color: #f2a6b0;
                font-size: 2rem;
                line-height: 2.5rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
  
                input {
                    background-color: white;
                    padding: 10px 15px;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    color: #f2a6b0;
                    font-weight: bold;
                    width: 100%;
                    box-sizing: border-box;
                }
  
                input:focus {
                    border-color: #f2a6b0;
                    outline: none;
                }
  
                button {
                    background-color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                    border-radius: 50px;
                    padding: 10px 20px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    width: 100%;
                }
  
                button:hover {
                    background-color: white;
                    color: #f2a6b0;
                    border: 2px solid #f2a6b0;
                }
            }
        }
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .register .card {
        flex-direction: column;
        max-width: 90%;
        height: auto;
    }
  
    .register .card .left,
    .register .card .right {
        padding: 15px;
        gap: 10px;
    }
  
    .register .card .left h1,
    .register .card .right h1 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
  
    .register .card .left span {
        font-size: 0.7rem;
    }
  
    .register .card form input,
    .register .card form button {
        padding: 8px 15px;
    }
  }
  

  /* General styling for Navbar */
.navbar {
    min-height: 70px;
    background-color: #f2a6b0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/* Search bar styling */
.navbar_search {
    max-width: 100px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 10px;
    padding-left: 20px;
}

.navbar_search input {
    width: 100%;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: #f2a6b0;
    color: #333;
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

/* Styling when the search bar is focused */
.navbar_search input:focus {
    outline: none;
    background-color: white;
    border-color: white;
    color: #333;
}

/* Center logo styling */
.navbar_logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%;
    display: flex;
    justify-content: center;
}

.navbar_logo {
    width: 100%;
    height: auto;
    max-height: 80px;
}

/* Right user logo styling */
.navbar_user-logo {
    height: 40px;
    width: auto;
    flex-shrink: 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: auto;
        padding: 10px;
        position: relative;
    }

    .navbar_search {
        max-width: 10%;
        margin-left: 20px;
        order: 1; /* Places search bar at the top */
        position: absolute;
    }

    .navbar_logo-container {
        max-width: 30%;
        order: 2; 
        justify-content: center;
        flex-grow:1;


    }

    .navbar_user-logo {
        height: 30px;
        order: 3; /* Places user logo at the bottom */
        margin-top: 10px;
    }
}


.nav-menu {
    background-color: white; 
    color: #333;
    width: 250px; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: -250px; 
    transition: left 0.3s;
    z-index: 1000;
    overflow: scroll;
    
    &::-webkit-scrollbar {
        display: none; 
    }
}

.nav-menu.active {
    left: 0; 
}

.sidebar-logo {
    width: 80%; 
    height: auto; 
    margin: 20px auto; /* Center logo horizontally */
    display: block;
}

.nav-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.nav-menu-items li {
    position: relative;
    padding: 20px 35px; /* More space from left and between items */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    color: #333;
}

.nav-menu-items li::before {
    content: '';
    position: absolute;
    left: 20px; /* Adjust distance from the left */
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%; 
    background-color: pink;
}

/* Remove bullet point for 'Categories' when dropdown is open */
.nav-menu-items li.categories.active::before {
    content: none;
}

/* Remove underline for links and change color on hover */
.nav-menu-items li a {
    text-decoration: none;
    color: inherit;
}

.nav-menu-items li a:hover {
    text-decoration: underline;
    color: pink;
}

/* Dropdown menu styling */
.dropdown-menu {
    display: none;
    list-style: none;
    padding-left: 20px; 
}

.dropdown-menu.active {
    display: block;
}

.menu-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: #f2a6b0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 0px 10px 0px;
    cursor: pointer;
    font-size: 24px;
    transition: left 0.3s ease;
}

.menu-toggle.active {
    left: 250px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
