.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  width: 100%; 
  margin: 0 auto; 
  background: linear-gradient(to bottom, #f2a6b0, #ffffff);
}

.register-page h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid #f2a6b0;
  border-radius: 25px;
  font-size: 1rem;
  box-sizing: border-box;
  margin: 10px 0;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #f2a6b0;
  box-shadow: 0 0 10px rgba(242, 166, 176, 0.5);
  outline: none;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
} 

.btn-register {
  background-color: #f2a6b0;
  border: 2px solid #f2a6b0;
  border-radius: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
  .btn-register:hover {
    background-color: #d18b9e;
  }
  
